.text {
    text-align: center;
  }
  body {
    font-family: Raleway;
  }
  .score-board {
    display: flex;
    width: 75%;
    margin: 0 auto;
  }
  .score-board .stars {
    display: flex;
    align-items: center;
  }
  .score-board .star {
    list-style: none;
  }
  .score-board .star-move {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
  .score-board .time {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

div#memory_board {
    background: #ccc;
    border: #999 1px solid;
    width: 600px;
    height:540px;
    padding: 24px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px 10px black;
}

.reset{
    cursor: pointer;
}

div#memory_board > div {
    background: url('https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat;
    border: #000 1px solid;
    width:71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    margin-right: 25px;
    text-align: center;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: Raleway;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: sans-serif;
}

.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration:  none;
    color: #333;
}

.popup .close:hover {
    color: #e5f720;
}
.popup .content_1,
.content_2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

#play-again{
    background: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin:  0 auto;
    width: 50%;
    font-family: cursive;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}